{% if orcamento %}
    <table>
      <thead>
        <tr>
          <th scope="col">pk</th>

          <th scope="col">codigo_vendedor</th>
        </tr>
      </thead>
      <tbody>

            <tr>
              <th> {{orcamento.pk}} </th>
              <td> {{orcamento.codigo_produto}} </td>
              <td> {{orcamento.valor_total}} </td>
              <td> {{orcamento.quantidade}} </td>
              <td> {{orcamento.codigo_vendedor}} </td>
            </tr>

      </tbody>
    </table>
{% else %}
    <p>Sem orçamentos para exibir</p>
{% endif %}
